.terms-title {
	position: absolute;
	top: 8px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 1.5rem;
	line-height: var(--leading-none);
	font-weight: var(--font-weight-x-bold);
	letter-spacing: 0.025em;
	color: var(--color-primary-white);
	background-color: var(--color-primary-dark-gray);
	padding-block: 0 10px;
	padding-inline: 10px;
	z-index: 10;

	@media (width < 768px) {
		font-size: 1rem;
		line-height: var(--leading-x-tight);
	}
}

.terms-container {
	height: 100%;
	display: block grid;
	grid-template-rows: auto 1fr;
	place-content: center;
	grid-template-areas:
		"content"
		".";
	border: var(--border-large);
	border-radius: var(--border-radius-small);
	padding-block-start: 20px;
}

.terms-content {
	display: block grid;
	gap: 40px;
	grid-area: content;
	overflow-y: scroll;
}

.terms-article {
	display: block grid;
	gap: 40px;
	padding-block-end: 40px;
	padding-inline: 50px;
	color: var(--color-primary-white);

	@media (width < 768px) {
		padding-inline: 20px;
	}
}

.terms-section-message,
.terms-section-list-item {
	font-size: 1rem;
	font-weight: var(--font-weight-normal);
	line-height: var(--leading-normal);

	@media (width < 768px) {
		font-size: 0.875rem;
	}

	@media (width < 640px) {
		font-size: 0.75rem;
	}
}

.terms-section-list {
	display: block grid;
	gap: 10px;
	padding-inline-start: 25px;
}

.terms-section-list-item {
	list-style: auto;
}
