.audio-button-container {
	display: block grid;
	place-items: center;
}

.audio-button {
	width: 50px;
	height: auto;
	cursor: pointer;
	z-index: 1000;
	filter: drop-shadow(0px 1px 1px rgb(0 0 0 / 80%));
	transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);

	@media (width < 1024px) {
		width: 45px;
	}

	@media (width < 768px) {
		width: 40px;
	}
}

.audio-button:hover {
	filter: drop-shadow(0px 1px 1px rgb(0 0 0 / 80%)) brightness(0.8);
}

.audio-mute {
	filter: brightness(1.75);
}

.audio-mute-home {
	filter: brightness(2);
}

.audio-play {
	filter: brightness(0.95);
}

.audio-play-home {
	filter: brightness(1.05);
}
