.strength-title-info {
	border: 3mm ridge var(--color-border-primary);
	background-color: var(--color-primary-brown-dark);
	padding-inline: 2.5px;
	padding-block: 2.5px;
}

.strength-title-info-content {
	height: 100%;
	display: block grid;
	grid-template-columns: auto;
	gap: 20px;
	background-color: var(--color-bg-panel);
	border: 2px solid var(--color-primary-brown-light);
}

.strength-title-box {
	display: block grid;
	grid-template-columns: auto;
	grid-template-rows: auto 1fr auto;
	gap: 10px;
	padding-inline: 10px;
	padding-block: 10px;
}

.strength-title-title {
	font-size: 1.25rem;
	font-weight: var(--font-weight-x-bold);
	text-align: center;
	text-shadow: 1.5px 1.5px 0.5px var(--color-primary-black);

	@media (width < 768px) {
		font-size: 1.125rem;
	}
}
