.item-detail-content {
	display: block grid;
	place-items: center;
	overflow-y: scroll;
	padding-inline: 25px;
	padding-block: 40px;

	@media (width < 1024px) {
		padding-block: 20px;
	}
}

.item-detail-card {
	width: 360px;
	height: auto;
	/* Gridを使って背景とコンテンツを重ねる */
	display: block grid;
	place-items: center; /* または stretch */

	/* 子要素（背景画像とコンテンツ）を同じセルに配置 */
	& > * {
		grid-area: 1 / 1;
		width: 100%;
		height: 100%;
	}

	@media (width < 768px) {
		width: 280px;
	}

	@media (width < 640px) {
		width: 260px;
	}
}

.item-detail-card-bg {
	width: 100%;
	height: 100%;
	object-fit: contain;
	z-index: 1; /* 配背面 */
	pointer-events: none;
}

.item-detail-card-content {
	width: 100%;
	height: 425px;
	display: block grid;
	place-items: center;
	grid-template-rows: 212px auto 1fr;
	gap: 15px;
	padding-inline: 50px;
	padding-block-end: 12px;
	z-index: 2;

	@media (width < 768px) {
		height: 315px;
		grid-template-rows: 157px auto 1fr;
		gap: 10px;
		padding-inline: 40px;
		padding-block-end: 0;
	}

	@media (width < 640px) {
		padding-block-end: 12px;
	}
}

.item-detail-image-box {
	display: block grid;
	place-items: center;
	width: 100%;
	height: 100%;

	@media (width < 768px) {
		height: 150px;
	}
}

.loading-indicator {
	text-shadow: 1.5px 1.5px 0px var(--color-primary-black);
}

.item-detail-unknown-image {
	width: 100px;
}

.item-detail-image,
.item-detail-unknown-image {
	height: auto;
	object-fit: contain;
	object-position: center;
	filter: drop-shadow(var(--character-shadow-medium));

	&.item-detail-image-1 {
		width: 100px;
	}

	&.item-detail-image-2 {
		width: 145px;
	}

	&.item-detail-image-3 {
		width: 110px;
		margin-inline-end: 10px;
	}

	&.item-detail-image-4 {
		width: 125px;
	}

	&.item-detail-image-5 {
		width: 100px;
	}

	&.item-detail-image-6 {
		width: 125px;
	}

	&.item-detail-image-7 {
		width: 125px;
	}

	&.item-detail-image-8 {
		width: 125px;
	}

	&.item-detail-image-9 {
		width: 150px;
	}

	&.item-detail-image-10 {
		width: 150px;
	}

	&.item-detail-image-11 {
		width: 115px;
	}

	&.item-detail-image-12 {
		width: 140px;
	}

	&.item-detail-image-13 {
		width: 100px;
	}

	&.item-detail-image-14 {
		width: 100px;
	}

	&.item-detail-image-15 {
		width: 110px;
	}

	&.item-detail-image-16 {
		width: 105px;
	}

	&.item-detail-image-17 {
		width: 95px;
	}

	&.item-detail-image-18 {
		width: 110px;
	}

	&.item-detail-image-19 {
		width: 105px;
	}

	&.item-detail-image-30 {
		width: 145px;
	}
}

.item-detail-title-box {
	width: fit-content;
	display: block grid;
	place-items: center;
	background-color: var(--color-primary-brown-dark);
	border: 1mm ridge #b69973;
	padding-inline: 1.5px;
	padding-block: 1.5px;
}

.item-detail-title {
	font-size: 0.875rem;
	font-weight: var(--font-weight-x-bold);
	line-height: var(--leading-tight);
	text-shadow: 1.5px 1.5px 0px var(--color-primary-black);
	background-color: var(--color-primary-brown);
	border: 1px solid var(--color-primary-brown-light);
	padding-block: 2px 3px;
	padding-inline: 12px;
	width: 100%;
	text-align: center;

	@media (width < 768px) {
		font-size: 0.75rem;
	}
}

.item-detail-locked-message-box,
.item-detail-description-box {
	width: 100%;
	height: 100%;
	display: block grid;
	place-items: center;
	background-color: var(--color-primary-brown-dark);
	border: 1mm ridge #b69973;
	padding-inline: 1.5px;
	padding-block: 1.5px;
}

.item-detail-description {
	width: 100%;
	height: 100%;
	font-size: 0.875rem;
	font-weight: var(--font-weight-normal);
	line-height: var(--leading-normal);
	text-shadow: 1.5px 1.5px 0px var(--color-primary-black);
	background-color: var(--color-primary-brown);
	border: 1px solid var(--color-primary-brown-light);
	padding: 4px 10px;

	@media (width < 768px) {
		font-size: 0.75rem;
		line-height: var(--leading-tight);
		padding: 3px 6px;
	}
}

.item-detail-locked-message-text {
	display: block grid;
	place-items: center;
	width: 100%;
	height: 100%;
	font-size: 0.75rem;
	font-weight: var(--font-weight-normal);
	line-height: var(--leading-normal);
	text-shadow: 1.5px 1.5px 0px var(--color-primary-black);
	background-color: var(--color-primary-brown);
	border: 1px solid var(--color-primary-brown-light);
	padding: 4px 10px;
}
