.latest-item-section {
	display: block grid;
	gap: 35px;
	padding-inline: 20px;
	padding-block: 20px;
}

.latest-item-title {
	position: relative;
	display: block flex;
	align-items: center;
	gap: 7px;
	font-size: 1.25rem;
	font-weight: var(--font-weight-x-bold);
	line-height: var(--leading-x-tight);

	@media (width < 1024px) {
		place-self: center;
		font-size: 1.125rem;
	}
}

.latest-item-title-icon {
	width: 20px;
	height: auto;
}

.latest-item-container {
	display: block grid;
	padding-inline: 25px;

	@media (width < 768px) {
		padding-inline: 0;
	}
}

.latest-item-guest-user-container,
.latest-item-null-container {
	display: block grid;
	border: 3mm ridge var(--color-border-primary);
	background-color: var(--color-primary-brown-dark);
	padding-inline: 2.5px;
	padding-block: 2.5px;
	filter: drop-shadow(0px 2px 1.5px var(--color-primary-black));
}

.latest-item-guest-user-message,
.latest-item-null-message {
	background-color: var(--color-bg-panel);
	border: 2px solid var(--color-primary-brown-light);
	padding: 15px;
	text-shadow: 1.5px 1.5px 0.5px var(--color-primary-black);
}

.latest-item-share-link {
	display: block flex;
	align-items: center;
	gap: 7px;
	place-self: center;

	&:hover {
		.latest-item-share-link-text {
			color: var(--color-primary-yellow);
		}
	}
}

.latest-item-share-icon-wrap {
	background-color: var(--color-primary-black);
	border-radius: var(--border-radius-small);
	padding: 4.5px;
	filter: drop-shadow(0 0 2.5px var(--color-primary-white));
}

.latest-item-share-icon {
	object-fit: contain;
	object-position: center;
	width: 11px;
	height: auto;
	filter: drop-shadow(0 0 2.5px var(--color-primary-white));
}

.latest-item-share-link-text {
	font-size: 0.875rem;
	font-weight: var(--font-weight-bold);
	line-height: var(--leading-tight);
	padding-inline: 2px;
	padding-block-end: 1px;
	text-decoration: underline;
	text-underline-offset: 4.5px;
	text-decoration-thickness: 1px;
	transition:
		color 0.2s ease-in-out,
		border-block-end 0.2s ease-in-out;
}
