.posts-container {
	width: 100%;
	height: 100%;
	display: block grid;
	grid-template-rows: auto auto auto 1fr;
	grid-template-areas:
		"header"
		"line"
		"posts-list"
		".";
}

.posts-header {
	grid-area: header;
	display: block grid;
	place-items: center;
	gap: 5px;
	padding-inline: 20px;
	padding-block-end: 20px;
	font-size: 0.875rem;
	font-weight: var(--font-weight-normal);
	line-height: var(--leading-normal);
}

.posts-container-line {
	grid-area: line;

	@media (width < 1024px) {
		width: calc(100% - 40px);
		margin-inline: auto;
	}
}
