.title-bg {
	background-color: var(--color-primary-dark-gray);
	width: calc(100% - 62px);
	height: 20px;
	position: absolute;
	top: 24px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;

	@media (width < 1024px) {
		width: calc(100% - 30px);
	}
}

.profile-title {
	position: absolute;
	top: 8px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 1.5rem;
	line-height: var(--leading-none);
	font-weight: var(--font-weight-x-bold);
	letter-spacing: 0.025em;
	color: var(--color-primary-white);
	background-color: var(--color-primary-dark-gray);
	padding-block: 0 10px;
	padding-inline: 10px;
	z-index: 10;

	@media (width < 768px) {
		font-size: 1rem;
		line-height: var(--leading-x-tight);
	}
}

.profile-container {
	height: 100%;
	display: block grid;
	border: var(--border-large);
	border-radius: var(--border-radius-small);
	padding-block-start: 40px;

	@media (width < 1024px) {
		overflow-y: scroll;
	}

	@media (width < 768px) {
		padding-block-start: 25px;
	}
}
