.party-member-section {
	display: block grid;
	gap: 35px;
	padding-inline: 20px;
	padding-block: 20px;
}

.party-member-title {
	position: relative;
	display: block flex;
	align-items: center;
	gap: 7px;
	font-size: 1.25rem;
	font-weight: var(--font-weight-x-bold);
	line-height: var(--leading-x-tight);

	@media (width < 1024px) {
		place-self: center;
		font-size: 1.125rem;
	}
}

.party-member-title-icon {
	width: 20px;
	height: auto;
}

.party-member-container {
	display: block grid;
	padding-inline: 25px;

	@media (width < 768px) {
		padding-inline: 0;
	}
}

.party-member-guest-user-container,
.party-member-null-container {
	display: block grid;
	border: 3mm ridge var(--color-border-primary);
	background-color: var(--color-primary-brown-dark);
	padding-inline: 2.5px;
	padding-block: 2.5px;
}

.party-member-guest-user-message,
.party-member-null-message {
	background-color: var(--color-bg-component);
	border: 2px solid var(--color-primary-brown-light);
	padding: 15px;
	text-shadow: 1.5px 1.5px 0px var(--color-primary-black);
}

.party-member-box {
	display: block grid;
	text-decoration: none;
	background-color: var(--color-primary-brown-dark);
	border: 2.7mm ridge var(--color-border-primary);
	padding-inline: 2.5px;
	padding-block: 2.5px;
}

.party-member-link {
	display: block grid;
	grid-template-columns: auto 1fr;
	gap: 25px;
	background-color: var(--color-bg-component);
	border: 2px solid var(--color-primary-brown-light);
	padding-block: 15px;
	padding-inline: 20px;
	transition: border 0.2s ease-in-out;

	&:hover {
		border: 2px solid var(--color-primary-yellow);
	}

	@media (width < 640px) {
		grid-template-columns: 1fr;
		gap: 10px;
	}
}

.party-member-icon-box {
	position: relative;
	width: 100px;
	height: 100px;
	display: block grid;
	place-items: center;
	place-self: center;
}

.party-member-icon-plate {
	grid-area: 1 / 1;
	width: 100%;
	height: auto;
	z-index: 0;
}

.party-member-icon {
	grid-area: 1 / 1;
	z-index: 1;
	width: 60%;
	height: auto;
	aspect-ratio: 1 / 1;
	object-fit: contain;
	object-position: center;
	filter: drop-shadow(var(--pixel-shadow-small));
}

.party-member-info {
	display: block grid;
	gap: 5px;
	padding-block: 2px;

	@media (width < 640px) {
		place-items: center;
	}
}

.party-member-name-box {
	width: fit-content;
	height: fit-content;
	background-color: var(--color-primary-brown-dark);
	padding: 2px;
}

.party-member-name {
	font-size: 1rem;
	font-weight: var(--font-weight-x-bold);
	line-height: var(--leading-tight);
	text-shadow: 1.5px 1.5px 0px var(--color-primary-black);
	transition: text-shadow 0.15s ease-in-out;
	border: 2px solid var(--color-border-primary);
	padding-block: 2px;
	padding-inline: 8.5px;
}

.party-member-description {
	font-size: 0.875rem;
	font-weight: var(--font-weight-normal);
	line-height: var(--leading-normal);
	text-shadow: 1.5px 1.5px 0px var(--color-primary-black);
	transition: text-shadow 0.15s ease-in-out;
}

.party-member-share-link {
	display: block flex;
	align-items: center;
	place-self: center;
	gap: 7px;

	&:hover {
		.party-member-share-link-text {
			color: var(--color-primary-yellow);
		}
	}
}

.party-member-share-icon-wrap {
	background-color: var(--color-primary-black);
	border-radius: var(--border-radius-small);
	padding: 4.5px;
	filter: drop-shadow(0 0 2.5px var(--color-primary-white));
}

.party-member-share-icon {
	object-fit: contain;
	object-position: center;
	width: 11px;
	height: auto;
	filter: drop-shadow(0 0 2.5px var(--color-primary-white));
}

.party-member-share-link-text {
	font-size: 0.875rem;
	font-weight: var(--font-weight-bold);
	line-height: var(--leading-tight);
	padding-inline: 2px;
	padding-block-end: 1px;
	text-decoration: underline;
	text-underline-offset: 4.5px;
	text-decoration-thickness: 1px;
	transition:
		color 0.2s ease-in-out,
		border-block-end 0.2s ease-in-out;
}
