.zenn-connect-area {
	width: 100%;
	max-width: 500px;
	margin-inline: auto;
}

.connect-button {
	border-radius: var(--border-radius-small);
	padding-block: 2.5px;
	padding-inline: 2.5px;
	background-color: #5a4734;
	border: 2.5px solid #b69973;

	&.active:hover {
		.connect-button-content {
			border: 1.5px solid var(--color-primary-yellow);
		}
	}
}

.connect-button-content {
	background-color: #ae926e;
	border: 1.5px solid var(--color-primary-brown-light);
	place-items: center;
	padding-block: 5px;
	padding-inline: 15px;
	display: block grid;
	text-shadow: 1.5px 1.5px 0px var(--color-primary-black);
	transition: border 0.2s ease-in-out;
}

.zenn-username {
	display: block flex;
	align-items: center;
	gap: 6px;
}

.loading-indicator {
	font-size: 1.125rem;

	@media (width < 768px) {
		font-size: 1rem;
	}

	@media (width < 640px) {
		font-size: 0.875rem;
	}
}

.zenn-logo-sm {
	width: 16px;
	height: 16px;
	object-fit: contain;
	object-position: center;
	filter: drop-shadow(0 0 0.5px var(--color-primary-white));
}
