.start-btn-container {
	display: block grid;
	place-items: center;
	margin-block-start: 135px;
}

.start-btn {
	width: 165px;
	height: auto;
	position: relative;
	filter: drop-shadow(0px 1px 1px rgb(0 0 0 / 80%));
}

.start-btn-image {
	display: block flow;
}

.start-btn-image-hover {
	position: absolute;
	top: 1px;
	left: 0px;
	height: 62px;
	opacity: 0;
}

.start-btn:hover .start-btn-image {
	opacity: 0;
}

.start-btn:hover .start-btn-image-hover {
	opacity: 1;
}
