.title-page-container {
	height: 100%;
	display: block grid;
	grid-template-rows: auto auto auto auto auto 1fr;
	grid-template-areas:
		"header"
		"line-first"
		"list"
		"line-second"
		"footer";
	border: var(--border-large);
	border-radius: var(--border-radius-small);
	padding-block: 40px 25px;
	padding-inline: 25px;
	color: var(--color-primary-white);

	@media (width < 1024px) {
		padding-inline: 0;
		overflow-y: scroll;
	}
}

.title-page-guest-container {
	height: 100%;
	display: block grid;
	grid-template-rows: 1fr auto;
	grid-template-areas:
		"content"
		"footer";
	border: var(--border-large);
	border-radius: var(--border-radius-small);
	padding-block: 40px 25px;
	padding-inline: 25px;
	color: var(--color-primary-white);
}

.title-page-line-first {
	grid-area: line-first;

	@media (width < 1024px) {
		width: calc(100% - 40px);
		margin-inline: auto;
	}
}

.title-page-line-second {
	grid-area: line-second;

	@media (width < 1024px) {
		width: calc(100% - 40px);
		margin-inline: auto;
	}
}

.loading-indicator {
	font-size: 1.125rem;

	@media (width < 768px) {
		font-size: 1rem;
	}

	@media (width < 640px) {
		font-size: 0.875rem;
	}
}
