/* matches latest-party-member-section (and latest-item-section) */
.skeleton-latest-section {
	width: 100%;
	display: grid;
	grid-template-rows: auto 1fr;
	gap: 35px;
	padding-block: 20px;
	padding-inline: 20px;
}

/* matches latest-party-member-title */
.skeleton-section-title {
	display: block flex;
	align-items: center;
	gap: 7px;
	font-size: 1.25rem;
	font-weight: var(--font-weight-x-bold);
	line-height: var(--leading-x-tight);

	@media (width < 1024px) {
		place-self: center;
		font-size: 1.125rem;
	}
}

.skeleton-section-title-icon{
	width: 20px;
	height: auto;
}

/* matches latest-party-member-container */
.skeleton-party-member-container {
	width: 100%;
	display: grid;
	place-self: start;
	gap: 10px;
	padding-inline: 25px;

	@media (max-width: 767px) {
		place-items: center;
		gap: 15px;
		padding-inline: 0;
	}
}

/* matches latest-party-member-card/guest-message */
.skeleton-party-member-guest {
	min-width: 300px;
	height: 140px;
	background: linear-gradient(
		90deg,
		var(--color-skeleton-base) 25%,
		var(--color-skeleton-highlight) 50%,
		var(--color-skeleton-base) 75%
	);
	background-size: 200% 100%;
	animation: shimmer 1.5s infinite;
	border: 3mm ridge var(--color-border-primary);
	background-color: var(--color-primary-brown-dark);
	padding-inline: 2.5px;
	padding-block: 2.5px;
}

/* matches latest-party-member-share-link-text */
.skeleton-party-share {
	width: 200px;
	height: 22px;
	background: linear-gradient(
		90deg,
		var(--color-skeleton-base) 25%,
		var(--color-skeleton-highlight) 50%,
		var(--color-skeleton-base) 75%
	);
	background-size: 200% 100%;
	animation: shimmer 1.5s infinite;
	border-radius: 4px;
	place-self: center;
}

@keyframes shimmer {
	0% {
		background-position: 200% 0;
	}
	100% {
		background-position: -200% 0;
	}
}
