.about-section {
	width: 100%;
	display: block grid;
	gap: 15px;
}

.about-section-message {
	font-size: 1rem;
	font-weight: var(--font-weight-normal);
	line-height: var(--leading-normal);

	@media (width < 768px) {
		font-size: 0.875rem;
	}

	@media (width < 640px) {
		font-size: 0.75rem;
	}
}

.about-section-message em {
	font-style: normal;
}

.about-section-last-message {
	display: block grid;
	place-items: center;
	text-align: center;
	gap: 8px;
	font-size: 1.625rem;
	font-weight: var(--font-weight-x-bold);
	line-height: var(--leading-tight);
	color: var(--color-primary-yellow);
	text-shadow:
		0px 0px 2px var(--color-primary-orange),
		0px 0px 2px var(--color-primary-orange),
		0px 0px 2px var(--color-primary-orange),
		0px 0px 2px var(--color-primary-orange),
		0px 0px 2px var(--color-primary-orange),
		0px 0px 3px var(--color-primary-orange),
		0px 0px 3px var(--color-primary-orange);

	@media (width < 1024px) {
		font-size: 1.25rem;
	}

	.about-section-last-message-text:nth-child(2) {
		font-size: 2rem;

		@media (width < 1024px) {
			font-size: 1.2rem;
		}
	}
}
