.connection-container {
	grid-template-rows: auto auto auto 1fr;
}

.auth-content {
	display: block grid;
	grid-template-columns: 1fr;
	gap: 20px;
	width: 100%;
	max-width: 500px;
	margin-inline: auto;
}

.zenn-connect-area {
	width: 100%;
	max-width: 500px;
	margin-inline: auto;
}

.connect-button {
	font-weight: var(--font-weight-x-bold);
	line-height: var(--leading-none);
	border-radius: var(--border-radius-small);
	padding-block: 2.5px;
	padding-inline: 2.5px;
	background-color: var(--color-bg-button);
	border: 2.5px solid var(--color-border-primary);
	filter: drop-shadow(0px 2px 1.5px var(--color-primary-black));

	&.active:hover {
		.connect-button-content {
			border: 1.5px solid var(--color-primary-yellow);
		}
	}
}

.connect-button-content {
	width: 100%;
	height: 100%;
	background-color: var(--color-bg-panel);
	border: 1.5px solid var(--color-primary-brown-light);
	place-items: center;
	padding-block: 5px;
	padding-inline: 15px;
	display: block grid;
	text-shadow: 1.5px 1.5px 0.5px var(--color-primary-black);
	transition: border 0.2s ease-in-out;
}

.connection-detail-link {
	font-size: 0.875rem;
	font-weight: var(--font-weight-bold);
	color: var(--color-primary-white);
	display: block flow;
	position: relative;
	padding-block-end: 3px;
	padding-inline: 3px;
	transition: text-shadow 0.1s ease-in-out;

	&:hover {
		text-shadow: 0 0 8px rgb(255 255 255 / 0.5);

		&::before {
			opacity: 1;
		}
	}

	&::before {
		position: absolute;
		content: "";
		background-image: url(/images/arrow/arrow-icon.svg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 15px;
		height: 15px;
		top: 50%;
		left: -18px;
		transform: translateY(-50%) rotate(180deg);
		opacity: 0;
		transition: opacity 0.1s ease-in-out;
	}

	&::after {
		position: absolute;
		bottom: 0;
		left: 0;
		content: "";
		width: 100%;
		height: 1px;
		background-color: var(--color-primary-white);
		bottom: 0;
		left: 0;
	}
}

.zenn-logo {
	width: 18px;
	height: 18px;
	object-fit: contain;
	object-position: center;
	filter: drop-shadow(0 0 0.8px var(--color-primary-white));
}

.zenn-logo-sm {
	width: 16px;
	height: 16px;
	object-fit: contain;
	object-position: center;
	filter: drop-shadow(0 0 0.5px var(--color-primary-white));
}

.zenn-emphasis {
	display: block flex;
	align-items: center;
	gap: 6px;
	font-weight: var(--font-weight-normal);
	font-style: normal;
	padding-inline-end: 3px;
}

.zenn-username {
	display: block flex;
	align-items: center;
	gap: 6px;
}

.loading-indicator {
	font-size: 1rem;

	@media (width < 768px) {
		font-size: 0.875rem;
	}
}

.zenn-input-disabled {
	flex: 1 1 0%;
	min-width: 0;
	border: 3px solid #9ca3af;
	background-color: var(--color-primary-white);
	border-radius: 0.25rem;
	padding-block: 0.5rem;
	padding-inline: 0.75rem;
	color: var(--color-primary-black);
	cursor: not-allowed;
	filter: drop-shadow(0px 2px 1.5px var(--color-primary-black));
}
