.header {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 50;
	width: 100%;
	height: auto;
	margin-inline: auto;
	user-select: none;
	padding-block: 20px;
	padding-inline: 20px;

	&:has(.home-header-container) {
		padding-block-end: 0;
	}

	@media (width < 640px) {
		padding-inline: 7px;
		padding-block: 7px;
	}
}

.header-bg {
	border: 12px solid var(--color-primary-dark-gray);
	border-radius: var(--border-radius-medium);
	background-color: var(--color-primary-dark-gray);
	filter: drop-shadow(0px 4px 2px var(--color-primary-black));
}

.header-container {
	display: block flex;
	align-items: center;
}

.home-header-container {
	justify-content: flex-end;
}

.child-header-container {
	justify-content: space-between;
	background-color: var(--color-primary-dark-gray);
	border: var(--border-large);
	border-radius: var(--border-radius-small);
	padding-inline: 1.875rem;
	padding-block: 0.875rem;

	@media (width < 1024px) {
		padding-inline: 1.25rem;
	}

	@media (width < 768px) {
		padding-inline: 1.25rem;
	}

	@media (width < 640px) {
		padding-inline: 1rem;
		padding-block: 0.75rem;
	}
}

.header__title {
	display: block grid;
	font-size: 1.25rem;
	font-family: "ab-don2", sans-serif;
	color: var(--color-primary-yellow);
	letter-spacing: 0.025em;
	text-shadow:
		0px 0px 2px var(--color-primary-orange),
		0px 0px 2px var(--color-primary-orange),
		0px 0px 2px var(--color-primary-orange),
		0px 0px 2px var(--color-primary-orange),
		0px 0px 2px var(--color-primary-orange);

	@media (width < 768px) {
		font-size: 1rem;
	}
}

.header__title-link {
	position: relative;
	display: block flex;
	align-items: center;
	gap: 0.5rem;

	&:hover {
		.crown-container {
			opacity: 1;
			visibility: visible;
		}
	}
}

.header__items {
	display: block flex;
	align-items: center;
	gap: 25px;

	@media (width < 768px) {
		gap: 15px;
	}
}

.header-gnav {
	display: none;
}

.crown-container {
	opacity: 0;
	visibility: hidden;
	transition:
		opacity 0.1s ease-in-out,
		visibility 0.1s ease-in-out;
	position: absolute;
	top: -4;
	left: 116px;
	width: 8px;
	height: auto;
	filter: drop-shadow(0 0 0.5px color-mix(in srgb, var(--color-primary-orange), transparent 70%))
		drop-shadow(0 0 0.5px color-mix(in srgb, var(--color-primary-orange), transparent 70%))
		drop-shadow(0 0 0.5px color-mix(in srgb, var(--color-primary-orange), transparent 70%))
		drop-shadow(0 0 0.5px color-mix(in srgb, var(--color-primary-orange), transparent 70%))
		drop-shadow(0 0 0.5px color-mix(in srgb, var(--color-primary-orange), transparent 70%))
		drop-shadow(0 0 0.5px color-mix(in srgb, var(--color-primary-orange), transparent 70%))
		drop-shadow(0 0 0.5px color-mix(in srgb, var(--color-primary-orange), transparent 70%))
		drop-shadow(0 0 0.5px color-mix(in srgb, var(--color-primary-orange), transparent 70%))
		drop-shadow(0 0 0.5px color-mix(in srgb, var(--color-primary-orange), transparent 70%))
		drop-shadow(0 0 0.5px color-mix(in srgb, var(--color-primary-orange), transparent 70%));

	@media (width < 768px) {
		width: 6px;
		left: 92.8px;
	}
}
