.user-button {
	display: block grid;
	transition: var(--transition-box-shadow);
	border-radius: var(--border-rounded);
	filter: drop-shadow(0px 2px 1.5px var(--color-primary-black));
}

.user-button-box {
	display: block grid;
	place-items: center;
	gap: 5px;
}

.user-button-name {
	order: 2;
	font-size: 1.125rem;
	font-weight: var(--font-weight-x-bold);
	letter-spacing: 0.025em;
	color: var(--color-primary-white);
	padding: 0;
}

.user-button-avatar-box {
	width: 100px;
	height: 100px;
	order: 1;
	background-color: var(--color-primary-brown-dark);
	border: 3.5px solid var(--color-border-primary);
	border-radius: var(--border-rounded);
	background-clip: border-box;
	padding-inline: 3px;
	padding-block: 3px;

	@media (width < 768px) {
		width: 75px;
		height: 75px;
		padding-inline: 2.5px;
		padding-block: 2.5px;
	}

	& img {
		border: 2px solid var(--color-primary-brown-light);
		border-radius: var(--border-rounded);

		@media (width < 768px) {
			border: 1.5px solid var(--color-primary-brown-light);
		}
	}
}
