.recent-activity-section {
	width: 100%;
	display: block grid;
	grid-template-rows: auto 1fr;
	gap: 15px;
}

.recent-activity-section-title {
	position: relative;
	display: block flex;
	align-items: center;
	gap: 7px;
	font-size: 1.25rem;
	font-weight: var(--font-weight-x-bold);
	line-height: var(--leading-x-tight);

	@media (width < 1024px) {
		place-self: center;
		font-size: 1.125rem;
	}
}

.recent-activity-section-title-icon {
	width: 20px;
	height: auto;
}

.recent-activity-list {
	height: 400px;
	overflow-y: scroll;
	display: block grid;
	grid-template-columns: auto;
	grid-template-rows: auto 1fr;
	gap: 20px;
	padding-inline: 0 20px;
	padding-block: 0 10px;
	margin-block-start: 20px;

	@media (width < 768px) {
		padding-inline: 0;
	}
}

.recent-activity-item {
	width: 100%;
	display: block flex;
	justify-content: space-between;
	align-items: center;
	border: 3mm ridge var(--color-border-primary);
	background-color: var(--color-primary-brown-dark);
	padding-inline: 2.5px;
	padding-block: 2.5px;
	filter: drop-shadow(0px 2px 1.5px var(--color-primary-black));
}

.recent-activity-item-link {
	width: 100%;
	display: block grid;
	color: var(--color-primary-white);
	background-color: var(--color-bg-panel);
	border: 2px solid var(--color-primary-brown-light);
	padding-inline: 15px;
	padding-block: 12px 10px;
	transition: border 0.2s ease-in-out;

	&:hover {
		border: 2px solid var(--color-platform-zenn);
	}
}

.recent-activity-item-content {
	display: block grid;
	grid-template-columns: auto;
	gap: 12px;
}

.recent-activity-item-title {
	width: fit-content;
	text-wrap: pretty;
	word-break: auto-phrase;
	font-size: 1.125rem;
	font-weight: var(--font-weight-normal);
	text-shadow: 1.5px 1.5px 0px var(--color-primary-black);
	transition: text-shadow 0.15s ease-in-out;

	@media (width < 1024px) {
		font-size: 1rem;
	}
}

/* カテゴリーと日付の情報エリア */
.recent-activity-item-info {
	display: block flex;
	align-items: center;
	justify-content: space-between;
}

/* カテゴリースタイル, 日付スタイル */
.recent-activity-item-category-container,
.recent-activity-item-date-container {
	display: block grid;
	place-items: center;
	background-color: var(--color-primary-brown-dark);
	padding: 2px;
	filter: drop-shadow(0px 1px 1px var(--color-primary-black));
}

.recent-activity-item-category,
.recent-activity-item-date {
	font-size: 0.75rem;
	font-weight: var(--font-weight-x-bold);
	line-height: var(--leading-none);
	letter-spacing: 0.025em;
	border: 2px solid var(--color-border-primary);
	padding-inline: 8.5px;
	padding-block: 5.5px;
}

/* ファビコンとプラットフォーム名のコンテナ */
.recent-activity-item-platform-container {
	display: block flex;
	align-items: center;
	gap: 5px;
	margin-block-start: 10px;
	text-shadow: 1.25px 1.25px 0px var(--color-primary-black);
}

/* ファビコンスタイル */
.recent-activity-item-favicon {
	width: 14px;
	height: 14px;
	object-fit: contain;
	filter: drop-shadow(0.5px 0.5px 0px var(--color-primary-black));
}

.recent-activity-item-platform {
	font-size: 0.75rem;
	font-weight: var(--font-weight-x-bold);
}

.recent-activity-item-exp {
	display: block grid;
	place-self: end;
	font-size: 1rem;
	font-weight: var(--font-weight-x-bold);
	color: var(--color-primary-yellow);
	text-shadow: 1.5px 1.5px 0px var(--color-primary-black);
}
