.posts-list {
	grid-area: posts-list;
	display: block grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	gap: 20px;
	padding-block: 30px 20px;
	padding-inline: 20px;
	overflow-y: scroll;

	@media (width < 1024px) {
		overflow-y: visible;
	}

	@media (width < 640px) {
		grid-template-columns: 1fr;
	}
}

.posts-item {
	display: block grid;
	grid-template-rows: subgrid;
	grid-row: span 4;
	background-color: #453424;
	border: 3mm ridge #b69973;
	border-radius: var(--border-radius-small);
	padding-inline: 2.5px;
	padding-block: 2.5px;
}
