.button-group {
	display: block grid;
	grid-template-columns: repeat(3, auto);
	align-items: center;
	justify-content: center;
	gap: 25px;
	font-size: 0.875rem;
	font-weight: var(--font-weight-x-bold);
	line-height: var(--leading-none);
	place-self: end center;

	@media (width < 768px) {
		grid-template-columns: repeat(2, auto);
		gap: 15px;
	}

	svg {
		filter: drop-shadow(1px 1px 1px #000);
	}
}

.sync-button-box {
	background-color: var(--bg-color-message-success);
	border: 3px solid var(--color-primary-white);
	border-radius: var(--border-radius-small);
	filter: drop-shadow(0px 2px 1.5px var(--color-primary-black));

	&:has(.sync-button:disabled) {
		background-color: #9ca3af;
	}
}

.sync-button {
	display: block flex;
	align-items: center;
	gap: 5px;
	border: 3px solid var(--bg-color-message-success);
	padding-block: 9px;
	padding-inline: 12px;
	cursor: pointer;
	transition: border 0.2s ease-in-out;

	&:hover {
		border: 3px solid var(--color-primary-black);
	}

	&:disabled {
		cursor: not-allowed;
		border: 3px solid #9ca3af;
		opacity: 0.6;

		&:hover {
			border: 3px solid #9ca3af;
		}

		.sync-button-text {
			text-shadow: 1.5px 1.5px 0px #6b7280;
		}
	}

	.sync-button-text {
		padding-block-end: 1px;
		text-shadow: 1.5px 1.5px 0px var(--color-primary-black);
	}
}

.view-zenn-posts-link-box {
	background-color: var(--color-zenn);
	border: 3px solid var(--color-primary-white);
	border-radius: var(--border-radius-small);
	filter: drop-shadow(0px 2px 1.5px var(--color-primary-black));
}

.view-zenn-posts-link {
	display: block flex;
	align-items: center;
	gap: 5px;
	border: 3px solid var(--color-zenn);
	padding-block: 9px;
	padding-inline: 12px;
	transition: border 0.2s ease-in-out;

	&:hover {
		border: 3px solid var(--color-primary-black);
	}

	.view-zenn-posts-link-text {
		padding-block-end: 1px;
		text-shadow: 1.5px 1.5px 0px var(--color-primary-black);
	}
}

.release-button-box {
	background-color: #a02722;
	border: 3px solid var(--color-primary-white);
	border-radius: var(--border-radius-small);
	filter: drop-shadow(0px 2px 1.5px var(--color-primary-black));
}

.release-button {
	display: block flex;
	align-items: center;
	gap: 5px;
	border: 3px solid #a02722;
	padding-block: 9px;
	padding-inline: 12px;
	cursor: pointer;
	transition: border 0.2s ease-in-out;

	&:hover {
		border: 3px solid var(--color-primary-black);
	}

	.release-button-text {
		padding-block-end: 1px;
		text-shadow: 1.5px 1.5px 0px var(--color-primary-black);
	}
}

.loading-indicator {
	font-size: 0.875rem;
}
